h1 {
  text-align: center;
  margin-top: 100px;
}

h2 {
  margin-top: 0px;
  margin-bottom: 20px;
}

.nav_content p {
  color: white;
}

.footer_content p,
.footer_content a {
  color: white;
}

.impressum_data_protection_container h2 {
  margin-top: 50px;
  margin-bottom: 20px;
}

.impressum_data_protection_container h3 {
  margin-top: 50px;
  margin-bottom: 20px;
}

.fruit_container td:last-child {
  text-align: end;
}

.search_container button {
}

.search_container input {
}
